name: Documentation Deployment

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install documentation tools
        run: pip install mkdocs-material

      - name: Build and deploy documentation
        run: mkdocs gh-deploy --force
